body {
	background-color: #2DAAE1;
}

html, body {
	height: 100%;

}

.numbers-image {
	width: 100%; 
	text-align: center; 
} 

img {
	width: 500px;
	margin-top: 5%;
}



h1 {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	color: white;
	font-size: 50px;
	/*margin: auto;*/
}

h3, p {
	text-align: center;
	color: white;
	font-family: 'Josefin Slab', serif;
}

p {
	font-size: 20px;
}

.input-group {
	width: 30%;
	margin: auto;
}

.btn {
	background-color: red;
	color: white;
	border: none;
}

#playAgainButton {
	margin: auto;
}